/* ------------------ 🪑 Sillon 🪑 ------------------ 

An easy-on-the-eyes Obsidian theme by DabossCharan.  

Essentially, a high-quality knock-off of other 
Obsidian themes with my own twist.

Github: @dabosscharan

Thanks for using this theme!

NOTE: I still need to read usage, license, and contribution pages for the following. 

References
  - Cecila May's Primary: 
    - Kofi: https://ko-fi.com/ceciliamay
    - GitHub: https://github.com/primary-theme/obsidian
  - AnubisNekhet's AnuPpuccin:
    - Buy Me A Coffee: https://www.buymeacoffee.com/anubisnekhet
    - GitHub: https://github.com/AnubisNekhet/AnuPpuccin

----------------------------------------------------- */
/*
body {
  --divider-width-hover: 5px;
  --divider-radius: 4px;
}

.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  border-radius: var(--divider-radius);
}
*/

