/* Modified Card Layout From AnuPpuccin */


body {
  --card-background-color: rgba(255, 255, 255, .8);
  --card-foreground-color: rgba(255, 255, 255, .8);
  --divider-color: transparent;
  --tab-outline-color: #b0acac;
  --divider-color-hover: var(--backgrouund-modifier-border);
  --divider-width: 4px;
  --divider-width-hover: 4px;
  --tab-container-background: var(--card-background-color);
  --file-header-border: var(--border-width) dashed
  	var(--background-modifier-border);
  --ribbon-padding: 0;

  /* To Hide Borders of Tabs */
  /* --tab-outline-color: transparent; */

}

.sidebar-toggle-button, .workspace-tabs.mod-top,
body.is-focused, body.is-focused .sidebar-toggle-button, body.is-focused .workspace-tabs.mod-top {
  --tab-container-background: var(--card-background-color);
  
}

body .mod-left-split .workspace-tabs .workspace-leaf,
body .mod-right-split .workspace-tabs .workspace-leaf,
body .mod-left-split,
body .mod-vertical .workspace-tab-container,
body .mod-vertical,
body .workspace-split.mod-vertical,
body .workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,
body .mod-root .workspace-tabs .workspace-leaf,
body .workspace-ribbon.mod-left,
body .workspace-ribbon.mod-left:before {
  background: #121212;
}

body .workspace-ribbon.mod-left {
  margin-right: 5px;
}
  
body .side-dock-actions {
  border-radius: 0px var(--radius-xl) var(--radius-xl) 0px;
  margin-top: 2px;
  border-width: 1px 1px 0px 1px;

  border-style: solid;
  border-color: var(--tab-outline-color);
  background-color: var(--card-foreground-color);

  padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
}

body .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  border-style: solid;
  border-color: var(--tab-outline-color);
  border-radius: var(--radius-xl);
  margin: 4px;
  margin-bottom: 10px;
  border-width: 1px;
  background-color: var(--card-foreground-color) !important;
}

body .workspace-ribbon.mod-left {
  margin-top: calc(var(--header-height) - 1px);
}

body .workspace-tab-header-container,
body .workspace-ribbon.mod-left:before {
  border-bottom: none;
}

body .mod-vertical .workspace-tabs .workspace-tab-header-container {
  padding-left: 20px;
}

body .mod-left-split .workspace-tab-container,
body .mod-right-split .workspace-tab-container {
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--tab-container-background);
  
}

body .workspace-split .workspace-tab-container {
  background-color: var(--tab-container-background);
  
}

body .workspace-split .workspace-leaf-content, body .side-dock-actions, body .workspace-split .workspace-leaf-content[data-type=file-explorer] {
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.05);
}

body .workspace-split.mod-horizontal > * {
  width: unset;
}

body .workspace .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header {
  border-style: solid;
  border-radius: var(--radius-xl) 0px 0px var(--radius-xl);
  border-width: var(--tab-outline-width);
  border-color: var(--tab-outline-color);
  border-right: var(--tab-outline-width) dashed var(--tab-outline-color);
}


body .workspace .workspace-tabs.mod-stacked .workspace-leaf {
  border-left-width: 0px;
  border-top-width: var(--tab-outline-width);
  border-bottom-width: var(--tab-outline-width);
  border-style: solid;
  border-color: var(--tab-outline-color);
  border-radius: 0 var(--anp-card-radius, var(--radius-xl)) var(--anp-card-radius, var(--radius-xl)) 0;
}


body .workspace .workspace-tabs.mod-stacked .workspace-tab-container {
  padding-bottom: var(--anp-card-layout-padding, 10px);
}
body .workspace-drop-overlay:before {
  width: calc(100% - 6px - var(--anp-card-layout-padding, 0) * 2);
  height: calc(100% - 6px - var(--anp-card-layout-padding, 0) * 2);
  margin: auto;
}

body:not(.is-phone) .mod-vertical .workspace-tabs {
  padding-left: 10px;
  padding-right: 10px;
}


body .workspace-leaf-content {
  background-color: var(--card-foreground-color);
  border: 1px solid var(--tab-outline-color);
  border-radius: var(--radius-xl);
  margin-bottom: 10px;
  
}

.workspace, .app-container, .horizontal-main-container {
  background-color: var(--tab-container-background);
  
}


body .workspace-split.mod-vertical .workspace-tabs .workspace-tab-container .view-header, body .workspace-split.mod-vertical .workspace-tabs .workspace-tab-container .view-content {
  background-color: var(--card-background-color) !important;
  
}

.workspace-tab-header {
  background-color: var(--card-background-color) !important;
  
}

